NodeJs/Soap/demo3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnvioSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnvioSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
 
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnvioSmsSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioSms" />
  </wsdl:message>
  <wsdl:message name="EnvioSmsSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioSmsResponse" />
  </wsdl:message>
  
  <wsdl:portType name="VoicesSoap">
    <wsdl:operation name="EnvioSms">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para enviar SMS</wsdl:documentation>
      <wsdl:input message="tns:EnvioSmsSoapIn" />
      <wsdl:output message="tns:EnvioSmsSoapOut" />
    </wsdl:operation>
    
  </wsdl:portType>
  <wsdl:binding name="VoicesSoap" type="tns:VoicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioSms">
      <soap:operation soapAction="http://tempuri.org/EnvioSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  
  </wsdl:binding>
  <wsdl:binding name="VoicesSoap12" type="tns:VoicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioSms">
      <soap12:operation soapAction="http://tempuri.org/EnvioSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="Voices">
    <wsdl:port name="VoicesSoap" binding="tns:VoicesSoap">
      <soap:address location="http://localhost:8001/voiceswsdl" />
    </wsdl:port>
    <wsdl:port name="VoicesSoap12" binding="tns:VoicesSoap12">
      <soap12:address location="http://localhost:8001/voiceswsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>